SECRET_KEY=your-secret-key-here
DEBUG=True

DB_NAME=reply_ai_db
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

GEMINI_API_KEY=your-groq-api-key

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret