# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual env
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment
.env

# Docker
*.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Migrations (опционально — можно убрать если хочешь пушить миграции)
# */migrations/

# OS
.DS_Store
Thumbs.db
